.slideFull{
    width: 100%;
    height: 100vh;
    background-image: url('./fyw.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.leftBox{
    width: 20%;
    height: 100%;
    background-color: blueviolet;
}